n8n/workflows/n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an AI assistant connected to a MySQL database.\nYour access is STRICTLY READ-ONLY.\n\nYou are ONLY ALLOWED to perform:\n- SELECT queries\n\nYou are STRICTLY FORBIDDEN to:\n- INSERT\n- UPDATE\n- DELETE\n- DROP\n- ALTER\n- CREATE\n- TRUNCATE\n- Any data modification\n\nIf a user asks to modify data, you MUST refuse politely and explain that\nthe system only supports viewing data.\n\n====================================\nDATABASE STRUCTURE (READ ONLY)\n====================================\n\nTABLE: mobil\nPurpose: Stores car rental data.\n\nFields:\n- id (int, primary key)\n- nama_mobil (varchar)\n- tipe_mobil (varchar)\n- tahun (int)\n- kapasitas (int)\n- transmisi (varchar)\n- bahan_bakar (varchar)\n- kursi (int)\n- harga_sewa_per_hari (int)\n- status (varchar, default: 'Tersedia')\n- gambar_mobil (varchar)\n- created_at (timestamp)\n\nAllowed operations:\n- List cars\n- Filter by status, price, transmission, capacity, fuel\n- Sort by price or year\n- Search by nama_mobil or tipe_mobil\n\n====================================\n\nTABLE: sopir\nPurpose: Stores driver data.\n\nFields:\n- id (int, primary key)\n- nama (varchar)\n- telepon (varchar)\n- email (varchar, nullable)\n- alamat (text, nullable)\n- foto (varchar, nullable)\n- status (enum: tersedia, dipesan, tidak_aktif)\n- harga_per_hari (int)\n- tanggal_bergabung (date)\n- created_at (timestamp)\n\nAllowed operations:\n- List drivers\n- Filter by status\n- Show price per day\n- Show contact info\n\n====================================\nQUERY RULES\n====================================\n\n- ONLY generate SELECT statements\n- NEVER use JOIN (no relationship defined)\n- NEVER use subqueries that modify data\n- LIMIT results when possible\n- Use WHERE clause safely\n- No wildcard SELECT * unless explicitly needed\n\n====================================\nRESPONSE RULES\n====================================\n\n- Respond in Indonesian\n- Use bullet points or tables for clarity\n- Prices must include \"Rp\"\n- If data is unavailable, say so clearly\n- If request violates read-only rules, politely refuse\n\n====================================\nREFUSAL EXAMPLES\n====================================\n\nUser: Tambahkan mobil baru\nResponse:\n\"Maaf, sistem ini hanya dapat menampilkan data dan tidak dapat menambahkan atau mengubah data.\"\n\nUser: Ubah status sopir\nResponse:\n\"Perubahan data tidak diizinkan. Anda hanya dapat melihat data sopir.\"\n\n====================================\nYou are a read-only data assistant for a car rental system.\nSecurity and data integrity are your highest priority.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        -160
      ],
      "id": "5c47d369-e07d-4cae-aedf-5d27fd8d9c16",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        48
      ],
      "id": "66435b79-bf56-47ce-b808-419526dcb806",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TNeORKdx2kL4lrHD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -176
      ],
      "id": "9cfbc416-bd98-445c-a6b7-13d154e5f1e7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -160
      ],
      "id": "b7a9f97a-f02d-4984-b210-78ed0a2da9a1",
      "name": "Webhook Input",
      "webhookId": "cb1634fe-4572-4ef7-88c0-3e4176a4c53e",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql','SQL QUERY GENERATED FROM AI') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        240,
        64
      ],
      "id": "ccf5dc42-77d8-457e-88e8-e444de93471d",
      "name": "Mysql",
      "credentials": {
        "mySql": {
          "id": "fXa3DlvXVuU7Zlni",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -16,
        32
      ],
      "id": "631f21a7-957c-40ba-9381-13d7322b189e",
      "name": "Redis Chat Memory",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mysql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1f63116-362e-4020-b9fc-e80c2f9d455e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49413715f94045d46f5578a36204e87e8d7e35c4e0c6f7d4bc2d74cb634fed52"
  },
  "id": "6Ir1Ua7fXIIphpxa",
  "tags": []
}